<div class="jumbotron jumbotron-fluid mb-0" style="background-color: rgb(238, 221, 221); height: 625px;">
  <a routerLink="/"></a>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-10 col-lg-6">
        <h1 class="display-6" style="padding-top: 150px;">Welcome to My Library App</h1>

        <p class="lead">Books are packed with knowledge, they give you life lessons, they teach you about hardships, love, fear, and every little thing that is a part of life.</p>

        <p class="lead">
          <button class="btn btn-4 btn-4c icon-arrow-right"><a routerLink="/login">Login</a></button>
          <button class="btn btn-4 btn-4c icon-arrow-right"><a routerLink="/signup">Sign Up</a></button>        
        </p>
      </div>
    </div>
  </div>
</div>
